<div class="d-flex bd-highlight">
  <div class="p-2 w-100 bd-highlight">
    <a class="navbar-brand" href="#">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/a/a1/Mu%E1%B8%A5ammad_ibn_M%C5%ABs%C4%81_al-Khw%C4%81rizm%C4%AB.png"
        width="30"
        height="30"
        class="d-inline-block align-top"
        alt=""
      />
      Al Khwarizmy
    </a>
  </div>

  <p style="margin-left: 1050px" class="p-2 flex-shrink-1 bd-highlight">|</p>
  <a href="#" class="p-2 flex-shrink-1 bd-highlight" style="margin-right: 2px"
    >العربيه</a
  >
</div>

<div class="d-flex bd-highlight">
  <mat-tab-group
    (selectedTabChange)="typeOfSurvey($event)"
    class="p-2 w-100 bd-highlight"
  >
    <mat-tab label="Published">
      <app-card
        [type]="type"
        *ngFor="let data of filteredData"
        (click)='clicked()'
        [filteredData2]="data"
        [viewModel]="modelFlag ? 'model':'list'"
      ></app-card
    ></mat-tab>
    <mat-tab label="Expired">
      <app-card
      (click)='clicked()'
        [type]="type"
        *ngFor="let data of filteredData"
        [filteredData2]="data"
        [viewModel]="modelFlag ? 'model':'list'"
      ></app-card>
    </mat-tab>
    <mat-tab label="Closed">
      <app-card
      (click)='clicked()'
        [type]="type"
        *ngFor="let data of filteredData"
        [filteredData2]="data"
        [viewModel]="modelFlag ? 'model':'list'"
      ></app-card>
    </mat-tab>
    <mat-tab label="All Surveys">
      <app-card
      (click)='clicked()'
        [type]="type"
        *ngFor="let data of filteredData"
        [filteredData2]="data"
        [viewModel]="modelFlag ? 'model':'list'"
      ></app-card>
    </mat-tab>
  </mat-tab-group>

  <div class="p-2 flex-shrink-1 bd-highlight">
    <button
      mat-button
      class="d-inline-block ml-2 greenBtn"
      [disabled]="dashboardFlag"
    >
      GO TO DASHBOARD
    </button>
  </div>
  <div class="p-2 flex-shrink-1 bd-highlight">
    <input
      type="search"
      [(ngModel)]="serchKey"
      class="form-control rounded"
      placeholder="Search"
      aria-label="Search"
      id="search"
      aria-describedby="search-addon"
      (keyup)="onTyping()"
    />
  </div>

  <div class="p-2 flex-shrink-1 bd-highlight">
    <button
      class="d-inline-block ml-2"
      mat-stroked-button
      (click)="filterButton()"
    >
      FILTER
    </button>
    <div class="filterOp" [hidden]="filterButtonFlag">
      <div class="text-right">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Start Date</mat-label>
          <input
            type="date"
            matInput
            placeholder="11/4/1998"
            [(ngModel)]="startDateFiltered"
          />
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>End Date</mat-label>
          <input
            type="date"
            matInput
            placeholder="11/4/1998"
            [(ngModel)]="endDateFiltered"
          />
        </mat-form-field>

        <button mat-button class="d-inline-block ml-2 secBtn" (click)="clear()">
          CLEAR
        </button>
        <button
          mat-button
          class="d-inline-block ml-2 greenBtn"
          (click)="searchByDate()"
        >
          APPLY
        </button>
      </div>
    </div>

    <div class="align-self-end sort">
      <span [ngClass]="listFlag? 'material-icons active' :'material-icons'"
       (click)='viewChangeOnClick("list")'>view_list</span>
      <span [ngClass]="modelFlag? 'material-icons active' :'material-icons'" 
      (click)='viewChangeOnClick("model")'>view_module</span>
    </div>
  </div>
</div>
