<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="https://upload.wikimedia.org/wikipedia/commons/a/a1/Mu%E1%B8%A5ammad_ibn_M%C5%ABs%C4%81_al-Khw%C4%81rizm%C4%AB.png" width="30" height="30" class="d-inline-block align-top" alt="">
      Al Khwarizmy
    </a>
    <p style="margin-left: 1050px;" class="navbar-brand">|</p>
    <a href="#"  class="navbar-brand" style="margin-right: 2px;">العربيه</a>
  </nav>

<div >
<mat-tab-group style="max-width: 640px; position: relative;">
    <mat-tab label="Published"> Published </mat-tab>
    <mat-tab label="Expired"> Content 2 </mat-tab>
    <mat-tab label="Closed"> Content 3 </mat-tab>
    <mat-tab label="All Surveys"> Content 3 </mat-tab>


    

  </mat-tab-group>

     <section style="position: relative;
    left: 750px;
    bottom:60px;">

        <div class="example-button-row">
          <button mat-raised-button color="primary">Primary</button>
        </div>
      </section>

    </div> 


    
  